{% extends "base.html" %}
{% load static %}
{% load timedelta_filter %}

{% block content %}

<h1 class="text-center">Szczegóły dnia pracy</h1>
<table class="table text-center">
    <thead>
      <tr>
        <th scope="col">Rozpoczęcie pracy</th>
        <th scope="col">Zakończenie pracy</th>
        <th scope="col">Czas pracy</th>
        <th scope="col">Numer autobusu</th>
        <th scope="col">Licznik początkowy</th>
        <th scope="col">Licznik końcowy</th>
        <th scope="col">Ilość kilometrów</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ workdays_details.work_start|date:"d.m.Y H:m" }}</td>
        <td>{{ workdays_details.work_end|date:"d.m.Y H:m" }}</td>
        <td>{{ workdays_details.work_hours|timedelta:"{hours_total}:{minutes2}" }}</td>
        <td>{{ workdays_details.bus.number }}</td>
        <td>{{ workdays_details.start_mileage }}</td>
        <td>{{ workdays_details.end_mileage }}</td>
        <td>{{ workdays_details.total_mileage }}</td>
      </tr>
    </tbody>
  </table>
  <p class="d-flex justify-content-end pe-5"><a href="/" class="text-decoration-none">Wróć do Strony głównej</a></p>



{% endblock %}