{% extends "base.html" %}
{% load static %}
{% load timedelta_filter %}

{% block content %}

<h1 class="text-center">Bus Driver Journal</h1>

{% if workdays_by_author %}
<table class="table text-center">
    <thead>
      <tr>
        <th scope="col">Rozpoczęcie pracy</th>
        <th scope="col">Zakończenie pracy</th>
        <th scope="col">Ilość godzin</th>
        <th scope="col">Autobus</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        {% if user.is_authenticated %}
        {% for workday in workdays_by_author %}
      <tr>
        <td>{{ workday.work_start|date:"d.m.Y H:i" }}</td>
        <td>{{ workday.work_end|date:"d.m.Y H:i" }}</td>
        <td>{{ workday.work_hours|timedelta:"{hours_total}:{minutes2}" }}</td>
        <td><a href="{% url 'main:bus_details' workday.bus_id %}">{{ workday.bus.registration_number }} [{{ workday.bus.number }}]</a></td>
        <td>
          <a href="{% url 'main:workdays_details' workday.id %}"><i class="fa-solid fa-circle-info"></i></a>
          <a href="{% url 'main:workday_edit' workday.id %}"><i class="fa-solid fa-pen-to-square"></i></a>
          <a href="{% url 'main:workday_delete' workday.id %}"><i class="fa-solid fa-delete-left"></i></a>
        </td>
      </tr>
      {% endfor %}
      {% endif %}
    </tbody>
  </table>
  {% else %}
  <div class="container-fluid text-center">
    <p>Lista dnia pracy jest pusta</p>
  </div>
  {% endif %}
  <p class="d-flex justify-content-end pe-5">
    <a href="/" class="text-decoration-none">Wróć do Strony głównej</a>
    <a href="add/">Dodaj dzień pracy</a>
  </p>
{% endblock%}