{% extends "base.html" %}
{% load static %}

{% block content %}

<h1 class="text-center">Bus Driver Journal</h1>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Data</th>
        <th scope="col">Godzina rozpoczęcia</th>
        <th scope="col">Godzina zakończenia</th>
        <th scope="col">Godziny pracy</th>
        <th scope="col">Więcej</th>
      </tr>
    </thead>
    <tbody>
        {% for workday in workdays %}
      <tr>
        <th scope="row">{{ workday.work_date }}</th>
        <td>{{ workday.work_start}}</td>
        <td>{{ workday.work_end }}</td>
        <td>{{ workday.work_hours }}</td>
        <td><a href="{% url 'main:workdays_details' workday.id %}">Więcej...</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock%}