{% extends "base.html" %}
{% load static %}

{% block content %}

<h1 class="text-center">Bus Driver Journal</h1>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Work Start</th>
        <th scope="col">Work End</th>
        <th scope="col">Work Hours</th>
        <th scope="col">Bus Number</th>
        <th scope="col">Start Mileage</th>
        <th scope="col">End Mileage</th>
        <th scope="col">Total Mileage</th>
      </tr>
    </thead>
    <tbody>
        {% for workday in workdays %}
      <tr>
        <th scope="row">{{ workday.work_date }}</th>
        <td>{{ workday.work_start}}</td>
        <td>{{ workday.work_end }}</td>
        <td>{{ workday.work_hours }}</td>
        <td>{{ workday.bus_number }}</td>
        <td>{{ workday.start_mileage }}</td>
        <td>{{ workday.end_mileage }}</td>
        <td>{{ workday.total_mileage }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock%}